//- includes/_header

header(role="banner")
	.b-container

		.row
			.small-4.columns
				// Logo
				a.logo(href="/")
					img(src="/images/logo.svg", alt="logo Kasperskiy Motorsports", title="logo Kasperskiy Motorsports")
				// /Logo

			.small-1.small-push-7.large-4.large-reset-order.columns
				// Menu
				nav(role="navigation")
					ul.b-menu.hide-for-medium-down
						each val in ["tribune", "test", "scoreboard", "prizes", "contest-rules"]
							li
								a(href="#" + val)
									i(class="icon-" + val)
									=val
							=" "
				// /Menu

				// Menu
				.b-menu-hamburger.js-menu-hamburger.hide-for-large-up
					.b-menu-hamburger__toggle
						.one
						.two
						.three
				// /Menu

			.small-7.small-pull-1.large-4.large-reset-order.columns

				if authorizedUser

					// Account
					.b-account
						ul
							li: a(href="#", class={active: linkActive === "active"})
								img.userpic(src="/css/blocks/b-profile/kramina_userpic.jpg")
								| S.Rodriges
							li: a(href="#") Log out

					// /Account

				else

					// Account
					.b-account
						ul
							li: a(href="#") Login
							li: a(href="#") Sing up
					// /Account








