doctype html
html(lang="ru")
	- var title = "kaspersky - контактная информация"
	include ../includes/_head

	body
		include ../includes/_header

		// modal
		i.icon-close.js-trigger-modal
		.b-modal
			.b-modal__overlay.open
				.b-container
					.row
						.small-11.small-centered.medium-10.large-8.columns
							.b-kaspersky-contacts
								.row
									.small-12.columns
										.text-center
											h1 Contact information
										.b-kaspersky-contacts__text
											h2.blockquote Global Headquarters
											.row.collapse
												.small-12.columns
													.row
														.small-12.columns
															span: a(href="http://www.kaspersky.com/about/contactinfo/contacts_global_hq") Kaspersky Lab HQ
													.row
														.small-5.medium-6.columns
															span
																| 39A/3 Leningradskoe Shosse
																br
																| Moscow, 125212
																br
																| Russian Federation
																br
																a(href="http://www.kaspersky.com/about/contactinfo/contacts_global_hq") more contact details
														.small-7.medium-6.columns
															span Tel: +7-495-797-8700
																br
																| Fax: +7-495-797-8709
																br
																| or +7-495-956-7000
																br
																| (10.00 to 18.30 local time; GMT +4)
											br
											.row.collapse
												.small-12.columns
													.row
														.small-5.medium-6.columns
															span E-mail
															br
															| Website
														.small-7.medium-6.columns
															span
																a(href="mailto:info@kaspersky.com") info@kaspersky.com
																br
																a(href="http://www.kaspersky.com") www.kaspersky.com

											h2.blockquote Regional Headquarters
											.row.collapse
												.small-12.columns
													.row
														.small-12.columns
															span.blockquote.blockquote--normal Kaspersky Lab European Headquarters
													.row
														.small-5.medium-6.columns
															span
																| 2 Kingdom Street
																br
																| London
																br
																| W2 6BD
																br
																| United Kingdom
																br
																| E-mail
																br
																| Website
														.small-7.medium-6.columns
															span Tel: +44 (0)203 549 3499
																br
																br
																br
																br
																a(href="mailto:info@kaspersky.com") info@kaspersky.com
																br
																a(href="http://www.kaspersky.co.uk/") www.kaspersky.co.uk
													br
													.row
														.small-12.columns
															span: a(href='/about/contactinfo/contacts_europe') Local Office contact details:

																br
																a(title='Kaspersky Lab Austria', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#austria') Austria,
																=" "
																a(title='Kaspersky Lab Benelux', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#benelux') Benelux,
																=" "
																a(title='Kaspersky Lab Denmark', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#nordics') Denmark,
																=" "
																a(title='Kaspersky Lab Finland', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#nordics') Finland,
																=" "
																a(title='Kaspersky Lab France', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#france') France,
																=" "
																a(title='Kaspersky Lab Germany', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#germany') Germany,
																=" "
																a(title='Kaspersky Lab Iceland', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#nordics') Iceland,
																=" "
																a(title='Kaspersky Lab Italy', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#italy') Italy,
																=" "
																a(title='Kaspersky Lab Norway', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#nordics') Norway,
																=" "
																a(title='Kaspersky Lab Poland', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#poland') Poland,
																=" "
																a(title='Kaspersky Lab Portugal', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#iberia') Portugal,
																=" "
																a(title='Kaspersky Lab Spain', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#iberia') Spain,
																=" "
																a(title='Kaspersky Lab Sweden', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#nordics') Sweden,
																=" "
																a(title='Kaspersky Lab Switzerland', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#switzerland') Switzerland,
																=" "
																a(title='Kaspersky Lab UK', href='http://www.kaspersky.com/about/contactinfo/contacts_europe#uk') United Kingdom
											br
											.row.collapse
												.small-12.columns
													.row
														.small-12.columns
															span.blockquote.blockquote--normal Kaspersky Lab Eastern Europe, Middle East & Africa (EEMEA) Headquarters
													.row
														.small-5.medium-6.columns
															span
																| 39A/3 Leningradskoe Shosse
																br
																| Moscow, 125212
																br
																| Russian Federation
																br
																| E-mail
																br
																| Website
																br
																| Full EEMEA HQ contact details
														.small-7.medium-6.columns
															span Tel: +7 (495) 737-34-12      +7 (495)-797-8700
																br
																| Fax: +7 (495) 663-81-49
																br
																| (10.00 to 19.00 local time; GMT +4)
																br
																a(href="mailto:info@kaspersky.com") info@kaspersky.com
																br
																a(href="http://www.kaspersky.ru/") www.kaspersky.ru
																br
																a(href="http://www.kaspersky.com/about/contactinfo/contacts_eemea").big-link http://www.kaspersky.com/about/contactinfo/contacts_eemea
													br
													.row
														.small-12.columns
															span: a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea') Local Office contact details:
																br
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#africa') Africa,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#BMU') Belarus,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#kazakhstan') Kazakhstan,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#ME') Middle East,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#BMU') Moldova,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#romania') Romania,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#russia') Russia,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#turkey') Turkey,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_eemea#BMU') Ukraine

											br
											.row.collapse
												.small-12.columns
													.row
														.small-12.columns
															span.blockquote.blockquote--normal Kaspersky Lab Americas Headquarters
													.row
														.small-5.medium-6.columns
															span
																| 500 Unicorn Park, 3rd Floor
																br
																| Woburn, Massachusetts 01801
																br
																| USA
																br
																| E-mail
																br
																| Website
																br
																| Full Americas HQ contact details

														.small-7.medium-6.columns
															span Tel: +1-866-328-5700 (Toll Free)
																br
																| Fax: +1-781-503-1818 (Sales), +1-781-503-2660 (Support)
																br
																| (GMT -5)
																br
																a(href="mailto:info@us.kaspersky.com") info@us.kaspersky.com
																br
																a(href="http://usa.kaspersky.com/") usa.kaspersky.com
																br
																a(href="http://usa.kaspersky.com/about-us/contact-info/index.php") usa.kaspersky.com/about-us/contact-info/index.php
													br
													.row
														.small-12.columns
															span: a(href='http://www.kaspersky.com/about/contactinfo/contacts_americas') Local Office contact details:
																br
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_americas#argentina') Argentina,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_americas#brazil') Brazil,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_americas#canada') Canada,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_americas#LA') Latin America,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_americas#mexico') Mexico

											br
											.row.collapse
												.small-12.columns
													.row
														.small-12.columns
															span.blockquote.blockquote--normal Kaspersky Lab Asia-Pacific Headquarters
													.row
														.small-5.medium-6.columns
															span
																| Room 2502, 25/F Manhattan Place
																br
																| 23 Wang Tai Road, Kowloon Bay
																br
																| Kowloon, Hong Kong
																br
																| E-mail
																br
																| Website


														.small-7.medium-6.columns
															span Tel: +852-3559-9200
																br
																| Fax: +852-3559-9211
																br
																| (GMT +8)
																br
																a(href="mailto:enquiry@kasperskyasia.com") enquiry@kasperskyasia.com
																br
																a(href="http://www.kasperskyasia.com/") www.kasperskyasia.com
													br
													.row
														.small-12.columns
															span: a(href='http://www.kaspersky.com/about/contactinfo/contacts_asia-pacific') Local Office contact details:
																br
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_asia-pacific#ANZ') Australia &amp; New Zealand,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_asia-pacific#china') China,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_asia-pacific#HK') Hong Kong,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_asia-pacific#india') India,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_asia-pacific#korea') Korea,
																=" "
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_asia-pacific#malaysia') Malaysia
											br
											.row.collapse
												.small-12.columns
													.row
														.small-12.columns
															span.blockquote.blockquote--normal Kaspersky Lab Japan Headquarters
													.row
														.small-5.medium-6.columns
															span
																| Sumitomo Fudosan Akihabara Bldg.7F
																br
																| 3-12-8 Soto-kanda Chiyoda-ku
																br
																| Tokyo, 101-0021, Japan
																br
																| E-mail
																br
																| Website
																br
																| Full Japan HQ contact details


														.small-7.medium-6.columns
															span Tel: +81-3-3526-8520
																br
																| Fax: +81-3-3526-0150
																br
																| (10.00 to 19.00 local time; GMT +9)
																br
																a(href="mailto:sales@kaspersky.co.jp") sales@kaspersky.co.jp
																br
																a(href="http://www.kaspersky.co.jp/") www.kaspersky.co.jp
																br
																a(href="http://www.kaspersky.co.jp/contacts") www.kaspersky.co.jp/contacts
													br
													.row
														.small-12.columns
															span: a(href='http://www.kaspersky.com/about/contactinfo/contacts_japan') Local Office contact details:
																br
																a(href='http://www.kaspersky.com/about/contactinfo/contacts_japan') Japan


				// modal

		// container
		.b-container
			section.b-content(role="main")
				.b-menu-section.hide-for-large-up

					// Menu
					nav
						ul.b-menu
							each val in ["tribune", "test", "scoreboard", "prizes", "contest-rules"]
								li
									a(href="#")
										i(class="icon-" + val)
										=val
								=" "
					// /Menu

			//	social-networks
			include ../includes/_social-networks
			//	/social-networks

			.b-container_footer
		// /container

		// footer
		include ../includes/_footer
		// /footer

