doctype html
html(lang="ru")
	- var title = "kaspersky - регистрация"
	include ../includes/_head

	body(data-page="registration")
		include ../includes/_header

		// modal
		i.icon-close.js-trigger-modal
		.b-modal
			.b-modal__overlay.open
				.b-container
					.row
						.small-12.columns
							.b-enter
								ul.b-enter__nav.js-enter__nav
									li: a(data-toggle=".b-registration") registration
									li: a(data-toggle=".b-login") login

								.b-social
									.gray Using the account in the social. Networks
									ul
										li: a(href="#").fb
											i.icon-facebook
										li: a(href="#").tw
											i.icon-twitter
										li: a(href="#").google
											i.icon-googleplus

									span.gray or

								.b-enter__forms.js-wrapper-forms
									form.b-registration
										div
											label(for="name") First name
											input#name(type="text", placeholder="Your first name", data-validate="You have not specified a first name")
										div
											label(for="name") Surname
											input#name(type="text", placeholder="Your Surname", data-validate="You have not specified a surname")
										div
											label(for="name") Nickname
											input#name(type="text", placeholder="Invent Login", data-validate="You have not specified a nicname")
										div
											label(for="name") E-mail
											input#name(type="text", placeholder="E-mail address", data-inputmask="'alias': 'email'", data-validate="You have not specified a e-mail")
										div
											label(for="name") Password
											input#name(type="password", placeholder="Enter password", data-validate="You have not specified a password")
										div
											label(for="name") Phone
											input#name(type="text", placeholder="Your phone number", data-inputmask="'mask': '+7 (999) 999-99-99'", data-validate="You have not specified a phone number")
										a.btn.btn__profile.js_btn_submit.expand registration
										span.gray.agree
											| By clicking "Register", you agree to the terms of service
											br
											| ( user agreement )
									form.b-login
										div
											label(for="name") Nickname or E-mail
											input#name(type="text", placeholder="Enter login or E-mail", autocomplete="off", data-validate="You have not specified a email")
										div
											label(for="name") Password
											input#name(type="text", placeholder="Enter password", data-validate="You have not specified a password")
										a.btn.btn__profile.js_btn_submit.expand login
										a(href="kaspersky-restore-password.html").gray.agree Restore password
						.preloader
							.spinner
		// /modal

		// container
		.b-container
			section.b-content(role="main")

				.b-menu-section.hide-for-large-up

					// Menu
					nav
						ul.b-menu
							each val in ["tribune", "test", "scoreboard", "prizes", "contest-rules"]
								li
									a(href="#")
										i(class="icon-" + val)
										=val
								=" "
					// /Menu



			//	social-networks
			include ../includes/_social-networks
			//	/social-networks

			.b-container_footer
		// /container

		// footer
		include ../includes/_footer
		// /footer
