doctype html
html(lang="ru")
	- var title = "kaspersky - успешная регистрация"
	include ../includes/_head

	body(data-page="registration")
		include ../includes/_header

		// modal
		i.icon-close.js-trigger-modal
		.b-modal
			.b-modal__overlay.open
				.b-container
					.row
						.small-8.small-centered.medium-6.large-4.columns
							.b-confirmed

								img(src="/css/blocks/b-registration/registration-ok.svg")

								p Well done, pilot! You will get a mail with your confirmed registration in a blink of an eye.

								a.btn.btn__profile go to site
		// /modal

		// container
		.b-container
			section.b-content(role="main")

				.b-menu-section.hide-for-large-up

					// Menu
					nav
						ul.b-menu
							each val in ["tribune", "test", "scoreboard", "prizes", "contest-rules"]
								li
									a(href="#")
										i(class="icon-" + val)
										=val
								=" "
					// /Menu



			//	social-networks
			include ../includes/_social-networks
			//	/social-networks

			.b-container_footer
		// /container

		// footer
		include ../includes/_footer
		// /footer

