doctype html
html(lang="ru")
	- var title = "kaspersky - тест"
	include ../includes/_head

	body
		include ../includes/_header

		// modal
		i.icon-close.js-trigger-modal
		.b-modal
			.b-modal__overlay.open

				.b-container
					.row
						.small-11.small-centered.medium-10.large-8.columns
							.b-test
								.row
									.small-12.medium-7.columns
										h1 Questions: 7/20

										p.b-test__question
											| In Formula 1 there are cases when the son of a famous father continued his career as a pilot. Which of the following pilots had no heir in Formula 1?
										input#option1(type="radio", name="question")
										label(for="option1") Jim Clark
										input#option2(type="radio", name="question")
										label(for="option2") Nelson Piquet
										input#option3(type="radio", name="question")
										label(for="option3") Gilles Villeneuve
										input#option4(type="radio", name="question")
										label(for="option4") Yos Verstappen

									.small-12.medium-4.columns
										.b-test__current-time
											.name Current time
											.counter 00:00.36.937

										.row
											.small-6.columns.collapse
												.b-test__current-points
													.name Points:
													.num 2281

											.small-6.columns
												.b-test__current-position
													.name Position:
													.num 39
										.row
											.small-6.columns.collapse
												.b-test__current-questions
													.name Questions:
													.num
														span.green 7
														=" "
														| / 20
											.small-6.columns
												.b-test__error
													.name Errors:
													.num.red 1

										.b-test__track
											figure
												img(src="/css/blocks/b-test/track.png")
												figcaption Belgium Grand Prix

								.pattern

							p.info You need to correctly answer 20 questions at a better time.

		// /modal

		// container
		.b-container
			section.b-content(role="main")

				.b-menu-section.hide-for-large-up

					// Menu
					nav
						ul.b-menu
							each val in ["tribune", "test", "scoreboard", "prizes", "contest-rules"]
								li
									a(href="#")
										i(class="icon-" + val)
										=val
								=" "
					// /Menu



			//	social-networks
			include ../includes/_social-networks
			//	/social-networks

			.b-container_footer
		// /container

		// footer
		include ../includes/_footer
		// /footer



